{% extends "company/navbar_info.html" %}

{% block title %}
    Department info:
{% endblock %}

{% block content %}
        <li>id: {{ department.id }}</li>
        <li>name: {{ department.name }}</li>
        <li>create_date: {{ department.create_date }}</li>
        <li>employees in '{{ department.name }}':
            [{% for employee in department.employee_set.all %}
                <a href="{% url 'company:empl_by_id' employee.id %}">{{ employee.name }} ({{ employee.id }})</a>,
            {% endfor %}]
        </li>
{% endblock %}
