{% extends "company/base.html" %}

{% block title %}
    Employee info:
{% endblock %}

{% block content %}
        <li>id: {{ employee.id }}</li>
        <li>name: {{ employee.name }}</li>
        <li>surname: {{ employee.surname }}</li>
        <li>login: {{ employee.login }}</li>
<!--        <li>password: {{ employee.password }}</li>-->
        <li>e-mail: {{ employee.email }}</li>
        <li>role: {{ employee.employee_role }}</li>
        <li>salary: {{ employee.salary }}</li>
        <li>department:
        <a href="{% url 'company:dep_by_id' employee.department.id %}">
            {{ employee.department }}</a></li>
        <li>last_login_date: {{ employee.last_login_date }}</li>
        <li>created_date: {{ employee.created_date }}</li>
        <li>employee's projects:
            [{% for project in employee.projects.all %}
                <a href="{% url 'company:proj_by_id' project.id %}">{{ project.name }} ({{ project.id }})</a>,
            {% endfor %}]
        </li>
        <li>employee photo:
            {% load static %}
            <img src="{% static 'company/user.png' %}" width=100px alt="Employee photo">
        </li>
{% endblock %}